.App {
  /* text-align: center; */
  /* font-family: "Rubik", sans-serif; */

  /* @font-face {
    font-family: "heading";
    src: url("./assets/fonts/Rethink_Sans/static/RethinkSans-ExtraBold.ttf")
      format("ttf");
  } */
}
@font-face {
  font-family: "logo";
  src: url("./assets/fonts/Abel/Abel-Regular.ttf");
}
@font-face {
  font-family: "heading";
  src: url("./assets/fonts/Rethink_Sans/static/RethinkSans-ExtraBold.ttf");
}
/* @font-face {
  font-family: "para";
  src: url();
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
